* {
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}

html,
body,
#root,
.app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* align-items: center; */
    overflow-x: hidden;
    background: var(--background);
    color: var(--paColor);
}

.app header,
.app header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.app header {
    width: 245px;
}

.app header nav {
    width: 245px;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 1px -2px 8px -2px #b3b3b3;
    position: fixed;
    background: var(--NavBackground);
}

.app header nav .logo {
    width: 103px;
    height: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-size: 25px;
    font-family: cursive;
}

.logo:before,
.logo:after {
    content: '';
    width: 26px;
    height: 23px;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.app header nav .logo:before {
    bottom: -6px;
    left: -11px;
    border-bottom: 4px solid var(--themeColor);
    border-left: 4px solid var(--themeColor);
}

.app header nav .logo:after {
    top: -6px;
    right: -11px;
    border-top: 4px solid var(--themeColor);
    border-right: 4px solid var(--themeColor);
}


.logo:hover:before,
.logo:hover:after {
    width: 100%;
    height: 100%;
}

.home_component .logo img {
    width: 100%;
    border-radius: 5px;
}

.home_component .logo {
    width: 250px;
    height: 250px;
}

.home_component .logo:before {
    top: -13px;
    left: -14px;
    border-top: 4px solid var(--themeColor);
    border-left: 4px solid var(--themeColor);
}

.home_component .logo:after {
    bottom: -13px;
    right: -14px;
    border-bottom: 4px solid var(--themeColor);
    border-right: 4px solid var(--themeColor);
}

.app header nav .links {
    width: 100%;
    display: flex;
    min-height: 60%;
    height: max-content;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.app header nav .links a {
    color: var(--paColor);
    transition: .5s ease-in-out;
    text-decoration: none;
    padding: 10px;
    border-bottom: 0.8px solid rgb(128 128 128);
    width: 131px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: bolder;
    margin-bottom: 10px;
}

.changetheme {
    min-width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    right: 4%;
    position: absolute;
    z-index: 9999;

}

.themes_changer {
    position: fixed;
    top: 50%;
}

.themes,
.light {
    display: flex;
    justify-content: center;
    align-items: center;
}

.themes {
    height: 42px;
}

.themescolors.active {
    background: white;
    width: 150px;
    height: 100%;
    padding: 5px;
}

.showthemes,
span.openNav {
    width: 34px;
    cursor: pointer;
    background: var(--NavBackground);
    box-shadow: 1px -2px 8px -2px #b3b3b3;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 8px;
}

.themescolors {
    transition: .5s ease-in-out;
    width: 0;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    right: 110%;
    height: 0;
    z-index: 99999;
    box-shadow: 1px -2px 8px -2px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.color:hover {
    transform: scale(1.19);
}

span.openNav {
    position: fixed;
    right: 12%;
    top: 7%;
    z-index: 1;
    border-radius: 4px;
    z-index: 9999999999;
    display: none;
}

.openNav {
    color: var(--themeColor);
}

.app header nav .links a#active {
    color: var(--themeColor);
}

.app header nav .links a svg {
    margin-right: 9px;
}

.container {
    width: calc(100% - 250px);
    transition: .5s ease-in-out;
    /* animation: translate 1s linear; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    overflow-x: hidden;
}

h1.com_title {
    min-width: 176px;
    padding: 10px;
    letter-spacing: 3px;
}

h1.com_title:before,
h1.com_title:after {
    content: '';
    width: 90px;
    position: absolute;
    background: var(--themeColor);
    height: 6px;
    bottom: 0;
    border-radius: 2px;
    transition: .5s ease-in-out;
    left: 10px;
}

h1.com_title:after {
    width: 75px;
    bottom: -10px;
}

.home_component {
    justify-content: center;
    animation: none;
}

.hm_com {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.socials {
    position: absolute;
    left: 0;
    height: 239px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    background: var(--background);
    /* padding: 53px 0; */
}

.socials a {
    text-decoration: none;
    color: var(--paColor);
}

.socials:before {
    content: '';
    width: 4px;
    height: 62%;
    background: var(--paColor);
    position: absolute;
    bottom: 0;
    left: 36%;
    border-radius: 4px;
}

.home_component .left_com h3 span,
.information p span {
    color: var(--themeColor);
}

.home_component .left_com {
    animation: translate3 1s linear;
}

.home_component .logo {
    animation: translate2 1s linear;
}

@keyframes translate {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes translate2 {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes translate3 {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes translate4 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home_component button,
.btns button,
.btns a {
    height: 37px;
    color: white;
    width: 126px;
    border: none;
    background: var(--themeColor);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.btns {
    width: 288px;
    display: flex;
    justify-content: space-around;
}

.btns a {
    font-size: 14px;
}

.home_component button:hover,
.btns button:hover,
.btns a:hover {
    background-color: rebeccapurple;
    transform: scale(.92);
    transform: translateY(-4px);
    cursor: pointer;
}

@media (max-width:792px) {

    .container {
        width: 100%;
        padding: 5px;
    }

    .app header,
    .app header nav {
        /* width: 0; */
        transition: .5s ease-in-out;
        overflow: hidden;
        left: -100%;
    }

    .app header {
        position: absolute;
        z-index: 99999999;
    }

    .app header.active,
    .app header.active nav {
        width: 245px;
        left: 0;
    }

    span.openNav {
        display: flex;
    }
}

.left_com h2 span {
    color: var(--themeColor);
}

.left_com h2 span.taagob {
    /* display: inline-block; */
    animation: noneOrFlex 0.7s linear infinite;
}

@keyframes noneOrFlex {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.about_component h1 {
    transform: translateY(-190%);
    animation: translate3 1s .4s linear forwards;
}

/* .about_head {
    animation: translate3 1s linear;
} */

.about_head h3 span {
    color: var(--themeColor);
}

span.c__themes svg {
    transition: .5s ease-in-out;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(-360deg);
    }
}



.information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 10px;
    margin: 7px 0;
    gap: 20px;
}

.information p:before {
    content: '';
    position: absolute;
    width: 69%;
    bottom: -5px;
    background: #8080804d;
    height: 0.7px;
    left: -4px;
}

.about_head h3 {
    animation: translate 1s linear forwards;
}

.about_head p {
    animation: translate4 1s linear forwards;
}

.about_head .information p {
    animation: translate4 1s linear forwards;
}

.about_head .information p:nth-child(even) {
    animation: translate 1s linear forwards;
}

.about_head .btns {
    animation: scale 1s linear forwards;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

p.exp:before {
    height: 7px;
    border-radius: 3px;
    width: 0;
    bottom: -11px;
    background: var(--themeColor);
    animation: width 1s 1s linear forwards;
}

@keyframes width {
    from {
        width: var(0);
    }

    to {
        width: var(--width);
    }
}

@media (max-width:450px) {
    .socials:before {
        width: 62%;
        height: 3px;
        bottom: 49%;
        left: 88px;
    }

    div.socials {
        position: absolute;
        left: 0;
        height: 47px;
        display: flex;
        align-items: center;
        width: 100%;
        bottom: -65px;
        flex-direction: row;
        padding: 0;
    }
}

.banner_tp {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 7px 0;
}

.about_component {
    padding: 10px 0;
}


.com_title {
    animation: translate4 1s linear forwards;
}

/* .banner_tp.banner_bm .education:after {
    content: '';
    width: 6%;
    position: absolute;
    border: 0.5px solid var(--themeColor);
    border-radius: 10px;
    bottom: 50%;
    left: -18px;
} */

.banner_tp.banner_bm .education:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    top: 5px;
    left: -10.2%;
    z-index: 44;
    background: white;
}

.banner_tp.banner_bm .education {
    width: 275px;
    min-height: 100px;
    margin: 9px 0;
    /* background: antiquewhite; */
}

.banner_tp.banner_bm .h_line {
    height: 91%;
    width: 7px;
    display: flex;
    position: absolute;
    background: var(--themeColor);
    z-index: 3;
    border-radius: 20px;
    left: 6px;
}

.banner_tp.banner_bm {
    min-height: 64vh;
    /* margin: 14px 7px; */
    width: 332px;
    display: flex;
    justify-content: center;
    box-shadow: 3px -1px 5px -3px grey;
    align-items: center;
    border-radius: 5px;
    padding: 10px 0;
    background: var(--NavBackground);
    color: var(--paColor);
}

.banner_bm_lf {
    width: 332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;

}

.banner_bm_lf h2 {
    margin: 4px 1px;
    padding: 0 4px;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    gap: 7px;
    padding: 18px 0;
    margin: 10px 0;
}

.education>* {
    width: 100%;
    font-size: 14.6px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.education p svg {
    font-size: 13px;
    margin-right: 4px;
}



.service-icon {
    transform: translateY(44%);
    z-index: 9999;
    transition: .5s ease-in-out;
    background: var(--themeColor);
    color: white;
    padding: 10px;
}


.service__description {
    transition: .5s ease-in-out;
    transform: translateY(-33%);
    background: var(--themeColor);
    color: white;
    padding: 10px;
}

.service__description a svg {
    margin-right: 5px;
}

.service__description a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_tp .com_title {
    transform: translateY(0);
    animation: translate4 1s linear;
}

.service {
    background: var(--themeColor);
    border-radius: 4px;
    box-shadow: 6px -2px 12px -2px #8080808a;
}

.service:nth-child(odd) {
    animation: translate2 1s linear;
}

.service:nth-child(even) {
    animation: translate3 1s linear;
}

.service:hover {
    background: black;
}

.service,
.service>* {
    width: 238px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    word-break: break-all;
    transition: .5s ease-in-out;
    margin: auto;

}

.service:hover .service-icon,
.service:hover .service__description {
    transform: translateY(0);
    /* padding: 10px; */
}

.services {
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin: 10px 0;
    gap: 20px;
    overflow-x: hidden;
}

.service-img {
    width: 47px;
    height: 47px;
    border: 0.5px solid;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

.service:hover .service__description {
    background: #333333;
}

.service-img img,
.service-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img img {
    width: 100%;
}

.service__description a,
.temp_info a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 8px;
    border-radius: 3px;
    font-size: 15px;
    transition: .5s ease-in-out;
    box-shadow: -3px -3.5px 11px -3.5px #808080a1;
}

.service__description a:hover,
.temp_info a:hover {
    background: var(--themeColor);
}

.service__description a svg {
    font-size: 15px;
}

.socials {
    position: absolute;
    left: 0;
    height: 100%;
}

.template {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.template {
    width: 300px;
    height: 154px;
    box-shadow: 1px -2px 6px -3px grey;
    border-radius: 5px;
    overflow: hidden;
    animation: scale 1s linear forwards;
    margin: auto;
}

.templates {
    margin: 10px 0;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}

.temp_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 999;
    background: #6666669e;
    color: white;
    transform: translate(-100%, 100%);
    transition: .5s ease-in-out;
}

.template:hover .temp_info {
    transform: translate(0);
}

.contact {
    width: 800px;
    margin: 10px auto;
    display: flex;
    height: 60vh;
    flex-direction: column;
    /* overflow-x: hidden; */
    flex-wrap: wrap;
    /* margin: auto; */
}

.contact__forms,
.contact__links {
    width: 400px;
    height: 100%;
    display: flex;
    padding: 10px;
    border-radius: 3px;
    flex-direction: column;
}

.contact__links {
    background: radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
        #1f2e43;
}

.contact__forms form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.contact__forms form input,
.contact__forms form textarea {
    width: 300px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

.contact__forms form button {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.contact__forms form button:hover {
    transform: scale(1.1, 1.1);
}

.contact__links h1 {
    font-size: 51px;
    color: white;
    margin: 4px auto 48px;
}

.social {
    margin: 10px auto;
}

.social a {
    color: white;
    text-decoration: none;
}

@media (max-width:970px) {

    .contact__forms form input,
    .contact__forms form textarea,
    .contact {
        width: 100%;
        flex-direction: unset;
    }

    .contact__forms,
    .contact__links {
        width: 98%;
        min-height: 40vh;
    }

    .contact__forms form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
}


.contact__forms {
    background: var(--NavBackground);
    animation: translate 1s linear;
}

.social a svg {
    margin: 7px;
    font-size: 40px;
}

.contact__links {
    animation: translate4 1s linear;
}